.input-area {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 640px;
  max-width: 95vw;
}

canvas {
  margin-top: 8px;
  max-width: min(96vw, 100vw - 18px);
  border: 1px solid grey;
}